# This logic is inspired by that of @tiangolo's (FastAPI People)
# [FastAPI people script](https://github.com/fastapi/fastapi/blob/master/.github/workflows/people.yml).

name: Django Components People

on:
  schedule:
    # At 18:00 on day-of-month 1.
    - cron: "0 18 1 * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update-people:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          uv sync --group dev

      - name: Update Django Components People
        run: |
          uv run python ./docs/scripts/people.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
